In [303]:
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', None)

# Question 3: -

```
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.
Note - Write comments wherever necessary explaining the code written.

Link - https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json
Data Attributes - id: Identification Number - int num: Number of the
● Pokémon in the official Pokédex - int name: Pokémon name -
● string img: URL to an image of this Pokémon - string type:
● Pokémon type -string height: Pokémon height - float
● weight: Pokémon weight - float candy: type of candy used to evolve Pokémon or
given
● when transferred - string candy_count: the amount of candies required to evolve
- int
● egg: Number of kilometers to travel to hatch the egg - float spawn_chance:
● Percentage of spawn chance (NEW) - float avg_spawns: Number of this
pokemon on 10.000 spawns (NEW) - int
● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all
time zones and are expressed in local time. (NEW) - “minutes: seconds” multipliers:
Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int
weakness: Types of
● Pokémon this Pokémon is weak to - list of strings next_evolution: Number and Name of
successive evolutions of Pokémon - list of dict prev_evolution: Number and Name of previous
evolutions of Pokémon - - list of dict

```

In [304]:
import json

In [305]:
# ● Data Attributes - id: Identification Number - int 
# ● num: Number of the Pokémon in the official Pokédex - int 
# ● name: Pokémon name - string 
# ● img: URL to an image of this Pokémon - string 
# ● type: Pokémon type -string 
# ● height: Pokémon height - float
# ● weight: Pokémon weight - float 
# ● candy: type of candy used to evolve Pokémon or given when transferred - string 
# ● candy_count: the amount of candies required to evolve- int
# ● egg: Number of kilometers to travel to hatch the egg - float 
# ● spawn_chance:Percentage of spawn chance (NEW) - float 
# ● avg_spawns: Number of this pokemon on 10.000 spawns (NEW) - int
# ● spawn_time: Spawns most active at the time on this field. Spawn times are the same for all time zones
#and are expressed in local time. (NEW) - “minutes: seconds” 
# ● multipliers: Multiplier of Combat Power (CP) for calculating the CP after evolution See below - list of int
# ● weakness: Types of Pokémon this Pokémon is weak to - list of strings
# ● next_evolution: Number and Name of successive evolutions of Pokémon - list of dict 
# ● prev_evolution: Number and Name of previous evolutions of Pokémon - - list of dict

In [306]:
import requests

# request the url to get json data
response = requests.get("https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json")

In [307]:
# parse the json 
data = response.json()

In [308]:
# To step down the main dict
li =  data['pokemon']

In [309]:
# convert dict to dataframe which helps to do feature transformation easier
df = pd.DataFrame(li)

In [310]:
df.head(2)

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '003', 'name': 'Venusaur'}]",NaN
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"

In [311]:
df["num"] = df["num"].apply(lambda x: int(x))

In [312]:
# need to convert height to weight string to float as per requirement

df["height"] = df["height"].apply(lambda x: x.split(" m")[0])
df["weight"] = df["weight"].apply(lambda x: x.split(" kg")[0])

df[["height", "weight"]] = df[["height", "weight"]].astype("float")

In [313]:
df["egg"].unique() # to get the category names

array(['2 km', 'Not in Eggs', '5 km', '10 km', 'Omanyte Candy'],
      dtype=object)

In [314]:
# Change string to float as per requirement

df["egg"] = df["egg"].map({"Not in Eggs": 0.0, "Omanyte Candy": 0.9, "2 km": 2.0, "10 km": 10.0, "5 km": 5.0})

# "Not in Eggs" and "Omanyte Candy" dont have any values. When I try to search over the internet I understand
#  that some pokemon wont hatch egg, so I kept replacing it 0.

df["egg"] = df["egg"].astype("float")

In [315]:
df["candy_count"].unique() # to check nan values

array([ 25., 100.,  nan,  12.,  50., 400.])

In [316]:
df["candy_count"] = df["candy_count"].apply(lambda x: int(x) if x > 0 else 0)

# I consider updating candy_count be 0 for nan values.

In [317]:
df["avg_spawns"].unique() # to check nan values

array([6.900e+01, 4.200e+00, 1.700e+00, 2.530e+01, 1.200e+00, 3.100e-01,
       5.800e+01, 3.400e+00, 6.700e-01, 3.032e+02, 1.870e+01, 2.200e+00,
       7.120e+02, 4.400e+01, 5.100e+00, 1.598e+00, 1.020e+02, 1.300e+01,
       1.305e+00, 4.100e+01, 4.730e+02, 1.500e+01, 2.270e+02, 7.200e+00,
       2.100e+01, 7.600e-01, 1.110e+02, 3.700e+00, 1.380e+02, 8.800e+00,
       1.310e+02, 8.300e+00, 9.200e+01, 2.200e+01, 7.700e-01, 3.900e+01,
       1.800e+00, 6.520e+02, 4.200e+01, 6.400e+00, 9.700e-01, 2.360e+02,
       7.400e+00, 2.280e+02, 4.000e+01, 1.400e+00, 8.600e+01, 2.540e+02,
       8.700e+00, 3.100e+00, 2.190e+02, 1.100e+00, 2.700e+00, 7.300e-01,
       4.900e+01, 6.800e-01, 1.150e+02, 5.900e-01, 8.100e+01, 8.200e+00,
       1.190e+02, 7.100e+00, 4.700e-01, 5.100e+01, 1.050e+02, 3.600e+00,
       7.100e+01, 2.300e+00, 2.120e+00, 5.200e+01, 2.800e+01, 1.300e+00,
       5.200e+00, 1.500e+00, 7.900e+01, 1.000e+01, 3.210e+02, 2.120e+02,
       6.200e+00, 6.500e+01, 2.000e+00, 7.800e+01, 6.100e+01, 2.000e+01,
       1.600e+00, 6.300e+01, 2.280e+01, 8.600e-01, 1.130e+02, 2.180e+02,
       8.000e+00, 1.950e+02, 1.400e+01, 3.500e+01, 9.900e+01, 1.200e+01,
       4.780e+02, 3.200e-01, 6.000e-01, 0.000e+00, 2.750e+02, 6.100e-01,
       3.000e+01, 1.100e-01])

In [318]:
df["avg_spawns"] = df["avg_spawns"].astype("int")

In [319]:
df["spawn_time"].unique()

array(['20:00', '07:00', '11:30', '08:45', '19:00', '13:34', '04:25',
       '07:02', '00:06', '16:35', '02:11', '05:23', '02:21', '02:30',
       '04:50', '01:34', '01:30', '01:50', '01:55', '01:56', '12:25',
       '01:11', '12:20', '04:00', '23:58', '01:58', '12:34', '01:51',
       '07:22', '12:35', '01:12', '09:02', '12:16', '03:30', '03:29',
       '13:43', '01:32', '08:46', '12:28', '02:15', '03:58', '11:33',
       '01:42', '01:22', '02:31', '23:40', '02:22', '12:37', '02:54',
       '02:44', '03:41', '23:06', '12:52', '12:33', '03:57', '03:11',
       '03:40', '09:14', '04:30', '11:25', '10:32', '02:55', '04:10',
       '09:45', '12:19', '03:20', '23:36', '12:40', '04:53', '02:50',
       '07:12', '02:56', '04:04', '15:25', '01:09', '05:10', '02:12',
       '06:46', '06:04', '15:11', '01:28', '07:39', '02:33', '04:21',
       '00:10', '03:55', '01:18', '02:17', '03:33', '03:44', '04:36',
       '09:09', '03:59', '05:58', '02:46', '08:16', '12:17', '03:21',
       '05:50', '04:46', '23:13', '02:40', '02:53', '03:18', '03:14',
       '05:21', '22:59', '06:57', '05:43', '05:41', '04:28', '20:36',
       '03:25', '00:37', '14:26', '08:59', 'N/A', '05:32', '10:54',
       '02:49', '10:23', '05:04', '00:05', '06:41', '11:57', '23:38'],
      dtype=object)

In [320]:
# convert string to datetime with the format minutes:seconds

df["spawn_time"].replace("N/A", pd.NaT, inplace=True) # Change N/A to pd.NaT
df["spawn_time"] = pd.to_datetime(df["spawn_time"], errors="coerce", format= '%M:%S').dt.strftime("%M:%S")

# since it has nan values it is still in string

In [321]:
df["spawn_time"].unique()

array(['20:00', '07:00', '11:30', '08:45', '19:00', '13:34', '04:25',
       '07:02', '00:06', '16:35', '02:11', '05:23', '02:21', '02:30',
       '04:50', '01:34', '01:30', '01:50', '01:55', '01:56', '12:25',
       '01:11', '12:20', '04:00', '23:58', '01:58', '12:34', '01:51',
       '07:22', '12:35', '01:12', '09:02', '12:16', '03:30', '03:29',
       '13:43', '01:32', '08:46', '12:28', '02:15', '03:58', '11:33',
       '01:42', '01:22', '02:31', '23:40', '02:22', '12:37', '02:54',
       '02:44', '03:41', '23:06', '12:52', '12:33', '03:57', '03:11',
       '03:40', '09:14', '04:30', '11:25', '10:32', '02:55', '04:10',
       '09:45', '12:19', '03:20', '23:36', '12:40', '04:53', '02:50',
       '07:12', '02:56', '04:04', '15:25', '01:09', '05:10', '02:12',
       '06:46', '06:04', '15:11', '01:28', '07:39', '02:33', '04:21',
       '00:10', '03:55', '01:18', '02:17', '03:33', '03:44', '04:36',
       '09:09', '03:59', '05:58', '02:46', '08:16', '12:17', '03:21',
       '05:50', '04:46', '23:13', '02:40', '02:53', '03:18', '03:14',
       '05:21', '22:59', '06:57', '05:43', '05:41', '04:28', '20:36',
       '03:25', '00:37', '14:26', '08:59', nan, '05:32', '10:54', '02:49',
       '10:23', '05:04', '00:05', '06:41', '11:57', '23:38'], dtype=object)

In [322]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              151 non-null    int64
 1   num             151 non-null    int64
 2   name            151 non-null    object
 3   img             151 non-null    object
 4   type            151 non-null    object
 5   height          151 non-null    float64
 6   weight          151 non-null    float64
 7   candy           151 non-null    object
 8   candy_count     151 non-null    int64
 9   egg             151 non-null    float64
 10  spawn_chance    151 non-null    float64
 11  avg_spawns      151 non-null    int64
 12  spawn_time      145 non-null    object
 13  multipliers     70 non-null     object
 14  weaknesses      151 non-null    object
 15  next_evolution  70 non-null     object
 16  prev_evolution  72 non-null     object
dtypes: float64(4), int64(4), object(9)
memory usage: 20.2+ KB

In [323]:
df.to_csv("pokemon.csv")