In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("train.csv")

In [28]:
df = df.sample(10000)

In [29]:
df.duplicated().sum()

0

In [30]:
df.isna().sum()

source_node         0
destination_node    0
dtype: int64

In [31]:
df.head()

         source_node  destination_node
3293319       648814           1529335
1175583       230175            254432
4185482       825371             60494
7262339      1433271           1151832
5419732      1069231           1461301

In [32]:
df.tail()

         source_node  destination_node
8480022      1673989            810325
1344759       263715             52884
5761644      1136975            151095
2393266       470971            613230
8059457      1590815            182428

In [33]:
df["source_node"].value_counts()

216723     3
753398     2
149438     2
1238990    2
1622254    2
          ..
824919     1
1210487    1
1407909    1
735983     1
1590815    1
Name: source_node, Length: 9897, dtype: int64

In [34]:
df["destination_node"].value_counts()

174858     3
1294248    3
1616218    2
716461     2
951661     2
          ..
1731166    1
1180541    1
1320798    1
1857493    1
182428     1
Name: destination_node, Length: 9891, dtype: int64

In [35]:
import pandas as pd
import networkx as nx
import community
import matplotlib.pyplot as plt

In [36]:
G = nx.from_pandas_edgelist(df, "source_node", "destination_node")

In [ ]:
# Step 3: Apply the Louvain algorithm for community detection
partition = community.best_partition(G)

# Step 4: Retrieve the community labels for each node
df["community_label"] = df["source_node"].map(partition)

# Step 5: Analyze the communities
community_sizes = df.groupby("community_label").size()
average_community_size = community_sizes.mean()

# Step 6: Visualize the communities
pos = nx.spring_layout(G)
colors = df["community_label"].values

plt.figure(figsize=(10, 8))
nx.draw_networkx(
    G,
    pos,
    node_color=colors,
    node_size=50,
    alpha=0.8,
    with_labels=False,
    cmap=plt.cm.tab20,
)
plt.show()